nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
    .nav-bar{
    display: flex;
    gap: 20px;
    padding-right: 30px;
    justify-content: space-evenly;
    
    }
    .nav-bar li{
    font-family: Monaco;
    text-decoration:none;
    color: blue;
    }